
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald:400,700');

// $assetPath : "/imgs";
// @function get-path-to-assets($assetPath){
//   @return $assetPath;
// }


@mixin title {
  font-size: 22px;
  color: #360033;
}

@mixin user-input {
  height: 72px;
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  font-family: Oswald;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #360033;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  height: 100vh;
  // background: url('../imgs/menza.jpg');
  overflow: hidden;
}

article {
  width: 388px;
  height: 394px;
  margin: 30vh auto;
  padding: 71px 30px 0;
  background: rgba(126, 211, 33, .9);
  font-family: OldStandardTT;
  form {
    display: flex;
    flex-direction: column;
    position: ralative;
  }
  h1 {
    position: absolute;
  }
  label {
    @include title;
    b {
      padding: 8px 1px;
      background: #f8e81c;
      font-weight: normal;
    }
  }
  label[id=location-label] {
    text-align: right;
  }
  input[id=location] {
    @include user-input;
    margin-bottom: 25px;
  }
  input[id=setTime] {
    @include user-input;
    margin-bottom: 16px;
  }
  input[type=submit] {
    margin: 0;
    background: none;
    border: none;
    text-align: right;
    font-family: OldStandardTT;
    @include title;
  }
}
