
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald:400,700');

$green: rgba(126, 211, 33, .9);
$pink: #f48f8f;
$black: #222;
$yellow: #f8e81c;

@mixin title {
  font-size: 22px;
  color: #360033;
}

@mixin standard-listed-item {
  background: #222;
  color: #fefefe;
}

@mixin user-input {
  height: 72px;
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  font-family: Oswald;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #360033;
}


// button mixins
@mixin button-props {
  height: 3.3rem;
  padding: 15px;
  font-size: 1.6rem;
  background: $pink;
  color: $black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(56, 56, 56, .5);
  transition: background .3s ease;
}

@mixin button-hover {
  background: #f15555;
}

@mixin button-active {
  transform: translateX(1px) translateY(1px);
  box-shadow: 1px 1px 2px rgba(56, 56, 56, .5);
}

@mixin button-focus {
  outline: none;
}



html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  min-width: 924px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url('../imgs/menza.png');
  background-size: cover;
  overflow: hidden;
}

.logo {
  position: absolute;
  right: 200px;
  object-fit: contain;
  bottom: 320px;
}

.container {
  min-width: 920px;
  max-width: 1024px;
  height: 100vh;
  font-family: Old Standard TT;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col-md-12 {
  margin: 0;
}

.input-wrapper {
  max-width: 45%;
  max-height: 600px;
  position: relative;
  padding: 2rem;
  background: $green;
  align-self: flex-start;
  border-left: 4px solid $black;
  border-bottom: 8px solid rgba(126, 211, 33, 0);
  overflow: hidden;
  .logo {
    position: absolute;
    width: 60px;
    top: 5px;
    left: 5px;
    opacity: .9;
  }
  input {
    width: 100%;
    height: 4rem;
    margin-bottom: .4rem;
    padding-left: 10px;
    font-family: Oswald;
    font-size: 2rem;
    font-weight: bold;
  }
  input[type="time"] {
    width: 10rem;
    margin-right: 20px;
  }
  input:focus {
    outline: 2px solid $pink;
    background: #f4e8e8;
  }
  label {
    width: 100%;
    @include title;
    b {
      padding: 8px 1px;
      background: #f8e81c;
      font-weight: normal;
    }
  }
  label[id=location-label] {
    text-align: right;
  }
  .set-time-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
      height: 3rem;
      font-size: 2rem;
      @include button-props
    }
    button:hover {
      @include button-hover;
    }
    button:focus {
      @include button-focus;
    }
    button:active {
      @include button-active;
    }
  }
  .found-places {
    max-height: 400px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 5px solid $yellow;
    overflow: scroll;
  }
  .found-place-item {
    background: $black;
    color: #fefefe;
    padding: .4rem;
    font-size: 1.4rem;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
  }
}


// right part, list of restaurants

.plan-list {
  max-width: 45%;
  height: 100%;
  max-height: 600px;
  padding: 0 2rem 1rem 0;
  align-self: flex-start;
  overflow: scroll;
}
.plan-box {
  height: 10rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(126,211,33,.9) 0%,rgba(126,211,33,.9) 92%,rgba(126,211,33,0) 92%,rgba(126,211,33,0) 100%);
  padding: 20px;
  padding-right: 5px;
  margin-bottom: 20px;
  border-top: 2px solid #222;
  font-size: 1.6rem;
  p {
    background: $black;
    color: #fefefe;
    width: 100%;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding: .6rem 0 .4rem 0;
    font-weight: bold;
  }
  .plan-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }
  button {
    align-self: flex-end;
    @include button-props;
  }
  button:hover {
    @include button-hover;
  }
  button:focus {
    @include button-focus;
  }
  button:active {
    @include button-active;
  }
  .delete {
    position: absolute;
    width: 15px;
    top: -15px;
    left: -15px;
    background: #fff;
    border-radius: 50%;
    transition: all .3s ease;
  }
  .delete:hover {
    width: 19px;
    background: #f15555;
    transform: rotateZ(180deg);
  }
  .delete:active {
    transform: scale(.9) rotateZ(180deg);
  }
}

.place-box,
.time-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  input {
    height: 2.6rem;
    margin-bottom: 4px;
    margin-right: 10px;
    padding-right: 10px;
    @include standard-listed-item;
    border: 0 solid #fff;
    border-radius: 5px;
    text-align: right;
    text-transform: uppercase;
    transition: background .3s ease;
  }
  input:focus {
    background: #454545;
    outline: 2px solid #f48f8f;
  }
  img {
    height: 2.6rem;
  }
}
.place-box {
  input[type="text"] {
    width: 100%;
  }
}
.time-box {
  input[type="time"] {
    padding-right: 0;
    padding-left: 25px;
  }
  ::-webkit-clear-button {
    display: none;
  }
  ::-webkit-inner-spin-button {
    margin-left: .4rem;
    margin-right: .3rem;
    font-size: 3rem;
  }
}
