//Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico');

$primary-font:    Nunito;
$primary-color: #FFFFFF;

body {
  background-color: #292931;
}

.input-wrapper {
  margin: 0 auto;
  background-color: white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: Pacifico;
    font-size: 30px;
    color: #FEDB26;
  }

  p, a {
    font-family: $primary-font;
    color: $primary-color;
  }

  .App-logo-spin {
    animation: App-logo-spin infinite 20s linear;
    margin: 20px;
  }

  img {
    width: 10vw;
    height: 12vh;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
  }

}
